AUTHORIZED_USERS=authorized@gmail.com
DATABASE_URL=postgres://localhost/sfjourney_development
FACEBOOK_KEY=facebook_key
FACEBOOK_SECRET=facebook_secret
FRIENDS=luckyone@gmail.com
GMAIL_DOMAIN=sendstousersfrom.com
GMAIL_EMAIL=email@sendstousersfrom.com
GMAIL_PASSWORD=gmail_password
GOOGLE_KEY=google_key
GOOGLE_SECRET=google_secret
POSTMARK_API_KEY=postmark_api_key
POSTMARK_INBOUND_ADDRESS=something@inbound.postmarkapp.com
POSTMARK_SMTP_SERVER=smtp.postmarkapp.com
SECRET_KEY_BASE='somerandomstring'
