<p>Thank you for registering.</p>

<p>This year, we’re trying to fund Journey via a kickstarter, rather than hoping we get enough donations to cover our costs. If you’ve had a great experience in the past, we’re asking for your help. Please be part of making Journey this year, and share it: https://www.kickstarter.com/projects/1211058807/journey-to-the-end-of-the-night-sf-2015</p>

<p><b>Please print and sign the attached pdf waiver, and bring it to <%= @registration.game.start_location %> on <%= @registration.game.local_starts_at.strftime("%A %B %d by %l%P") %>.
<br />YOU WILL NOT BE ALLOWED TO PLAY IF YOU DO NOT BRING YOUR PRINTED WAIVER.</b>
</p>

<p>Get ready for an amazing Journey!</p>