<p>
  <b>Participant's Name:</b>
  <%= @registration.name %>
  <br /><b>Email:</b>
  <%= @registration.email %>
  <br /><b>Team:</b>
  <%= @registration.team_name %>
  <br />Num registered: <%= @num_registered %>
</p>