<style type="text/css" media="print">

.noprint {
  display:none;
}

@page
{
    size: auto;   /* auto is the initial value */
    /* this affects the margin in the printer settings */
    margin: 0.25in 0.25in 0.25in 0.25in;
}

body
{
    /* this affects the margin on the content before sending to printer */
    margin: 0mm; padding: 0.25in;
}

body {
  font-size: 0.5em;
  color: #000000;
  background-color: #FFFFFF;
  line-height: 100%;
}

h2 {
  color: #000000;
  background-color: #FFFFFF;
  font-size: 1.5em;
  line-height: 150%;
}

.sign_table {
  border-collapse:collapse;
  width:60%;
}

.sign_table td {
  padding-left:3em;
}

.underline {
  padding-top:3em;
  border-bottom:1px solid #000;
}

.name {
  width:70%;
}

.spacing {
  width:10%;
}

.date {
  width:20%;
}

</style>


<div class="padded">
<p>Thank you for registering.</p>
<p><b>Please print and sign this form, and bring it to <%= current_game.start_location %> on <%= current_game.local_starts_at.strftime("%A %B %d by %l%P") %>.
<br />YOU WILL NOT BE ALLOWED TO PLAY IF YOU DO NOT BRING YOUR PRINTED WAIVER.</b></p>
<p>We're accepting cash donations at the start line. Suggested donations are $5 to $10.</p>
<br />
</div>

<div class="waiver">
<h2>WAIVER, RELEASE, COVENANT NOT TO SUE AND INDEMNITY AGREEMENT</h2>

<p><b>NOTICE:</b> THIS IS A LEGALLY BINDING AGREEMENT.</p>

<p><b>Released Persons:</b>  (1) The Come Out & Play Festival and any director, organizer, volunteer, member, officer, employee and agent of the Come Out & Play Festival; (2) any designer (including a designer’s agents, volunteers, members, directors, officers and employees) of a game or event in the Come Out & Play Festival; (3) SOMArts and its members, directors, officers, employees, volunteers and agents; (4) the Awesome Foundation and their agents, officers, directors, officials and employees; (5) the San Francisco Arts Commission and their agents, officers, directors, officials and employees; and (6) other participants, sponsoring agencies, sponsors, and advertisers and their agents, officers, directors, officials and employees.</p>

<p>By signing this agreement, you, the UNDERSIGNED (hereinafter “Participant”), give up your right to bring a court action to recover compensation or obtain any other remedy for any injury to you or to your property or for your death however caused arising out of your participation in the Come Out & Play Festival.  The Released Persons (as defined above and used hereinafter) are involved in the production of the Come Out & Play Festival.</p>

<p>The Participant understands the physical requirements of the program, event or activity in which he or she is participating in the Come Out & Play Festival, and certifies that the Participant is physically fit and able to participate in the program, event or activity, and has not been advised otherwise by a qualified medical professional.</p>

<p>ASSUMPTION OF RISK.<br>
The Participant acknowledges and fully understands that as a participant in the Come Out & Play Festival, the Participant will be engaging in activities that involve risk of serious injury, including permanent disability and death, property loss and severe social and economic losses. These risks include, but are not limited to, those caused by: (a) the actions, inactions or negligence of the Released Persons, spectators, event officials, and organizers; (b) conditions of the premises or equipment used; (c) rules of play; (d) temperature; (e) weather; (f) condition of participants; and, (g) vehicular traffic.  The Participant further acknowledges and fully understands that there may also be other risks that are not known or foreseeable at this time. The Released Persons cannot control these risks, nor has the Released Persons judged the Participant’s skill level or ability prior to allowing the Participant to participate and consequently is not in a position to guarantee the Participant’s personal health or safety during the programs, events or activities. THE PARTICIPANT KNOWINGLY AND VOLUNTARILY ASSUMES ALL SUCH RISKS, BOTH KNOWN AND UNKNOWN, ANTICIPATED AND UNANTICIPATED, EVEN IF ARISING FROM THE NEGLIGENCE OF THE RELEASED PERSONS OR OTHERS, AND THE PARTICIPANT ASSUMES FULL RESPONSIBILITY AND LIABILITY FOR THE PARTICIPANT’S PARTICIPATION.</p>

<p>RESPONSIBILITY FOR EMERGENCY CARE.<br>
In consideration of the possibility of an accident, the Participant hereby consents to emergency transportation and treatment necessary in the event of injury or illness. Participant hereby accepts responsibility for the payment of any emergency transportation and treatment expenses and any subsequent medical bills. </p>

<p>RELEASE OF ALL CLAIMS AND COVENANT NOT TO SUE.<br>
In consideration of permission and as a requirement of participation in the Come Out & Play Festival games, events, programs and festivities, the Participant hereby covenants and agrees not to sue the Released Persons and further agrees to fully release, indemnify and hold harmless the Released Persons from any and all actions, causes of action, demands, claims, costs, loss of services, expenses, compensation, loss of injury to person or property or damages, of any nature whatsoever, including, but not limited to, transportation accidents arising during Come Out & Play Festival events and any claim for negligence, which the Participant may ever have, now have, or which the Participant’s heirs, representatives, executors, administrators, and assigns may now have, or have in the future against the Released Persons (including attorneys’ fees incurred by the Released Persons, in connection with defense of any claim made by or on behalf of, or arising out of any injury to the Participant) on account of personal injury, property damage, death, or accident of any kind, arising out of or in any way related to Participant’s participation in the Come Out & Play Festival, whether the participation is supervised, unsupervised, however the injury is caused, including, but not limited to the negligence of the Released Persons. </p>

<p>THE CONSIDERATION FOR THIS WAIVER, RELEASE, COVENANT NOT TO SUE AND INDEMNITY AGREEMENT is the permission to be given the Participant to participate in the Come Out & Play Festival and it is agreed that such participation by Participant would be strictly forbidden absent the signing of this document by the Participant.</p>

<p>The Participant hereby grants to the Come Out & Play Festival and those acting with its authority, the right to photograph, videotape, or otherwise capture or collect the Participant’s likeness, voice and sounds (the “Content”) during the Participant’s participation in the Come Out & Play Festival program, event or activity. The Participant further acknowledges the Content to be works made for hire, and otherwise irrevocably assigns and grants to the Come Out & Play Festival all rights in this Content and the right to use or sublicense the Content and the Participant’s name, likeness, and biography, in the Come Out & Play Festival’s discretion, in all media and in all forms and for all purposes, including without limitation, advertising and other promotions for the Come Out & Play Festival, without any further consideration to the Participant or any limitation whatsoever.</p>

<p><span>THE PARTICIPANT REPRESENTS AND PROMISES that he/she (1) has full authority to execute this document; (2) has fully read this document; and (3) would not have signed this document unless he/she fully understood its intent to bar any future claims against the Released Persons and to protect the Released Persons from any future loss or liability arising out of or resulting from participation in the Come Out & Play Festival.</span></p>

<% if @underage %>
  <h2>To Be Signed if Participant is under 18 years of Age<br>
  CONSENT AND RELEASE OF PARENT OR GUARDIAN
  </h2>

  <p>I am the parent or guardian of <%= @registration.name %> (Child). My child is fit to participate in the Come Out & Play Festival, and I consent to my Child’s participation. I HAVE READ AND I UNDERSTAND THE WAIVER, RELEASE, COVENANT NOT TO SUE AND INDEMNITY AGREEMENT.  In consideration of allowing my Child to participate in the Come Out & Play Festival, I consent to the Waiver, Release, Covenant Not to Sue and Indemnity Agreement and agree that ITS TERMS SHALL LIKEWISE BIND ME, MY CHILD, my heirs, legal representatives, and assignees. I HEREBY RELEASE AND SHALL DEFEND, INDEMNIFY AND HOLD HARMLESS THE RELEASED PERSONS FROM EVERY CLAIM AND ANY LIABILITY that I or my Child may allege against the Released Persons (including attorneys’ fees or costs) as a direct or indirect result of injury to me or my Child because of my Child’s participation in the Come Out & Play Festival, WHETHER CAUSED BY THE NEGLIGENCE OF THE RELEASED PERSONS or others, I PROMISE NOT TO SUE RELEASED PERSONS on behalf of my Child regarding any claim arising from my Child’s participation in activities in the Come Out & Play Festival.</p>
<% end %>
</div>
<table class="sign_table">
<% if @underage %>
  <tr>
    <td class="underline name"></td>
    <td class="spacing"></td>
    <td class="spacing"></td>
  </tr>
  <tr>
    <td class="name"><b>Name of Parent or Guardian</b></td>
    <td class="spacing"></td>
    <td class="spacing"></td>
  </tr>
<% end %>
  <tr>
    <td class="underline name"></td>
    <td class="spacing"></td>
    <td class="underline date"></td>
  </tr>
  <tr>
    <td class="name" valign="bottom"><b>Signature</b></td>
    <td class="spacing"></td>
    <td class="date"><b>Date</b></td>
  </tr>
  <tr>
    <td class="underline name"></td>
    <td class="spacing"></td>
    <td class="spacing"></td>
  </tr>
  <tr>
    <td class="name" valign="bottom"><b>Printed Name</b></td>
    <td class="spacing"></td>
    <td class="spacing"></td>
  </tr>
  <tr>
    <td class="underline name"></td>
    <td class="spacing"></td>
    <td class="spacing"></td>
  </tr>
  <tr>
    <td class="name" valign="bottom"><b>Address</b></td>
    <td class="spacing"></td>
    <td class="spacing"></td>
  </tr>
</table>
