<p>Aw. Decided not to after all? We're sad, but I guess we understand. Times are tough, and maybe you can't really afford to donate right now. No worries. We at Journey still love you, and we're glad we could make this game for you. We hope you had a great night.</p>

<p>That said...if you change your mind, and decide you can donate to Journey to the End of the Night, we'd love you even more. We work hard to keep this game open to everyone, but we do have to buy a lot of supplies to make it happen. If you had a great night, or even just thought it was better than a movie, please donate.</p>

<%= render 'donate_form' %>
