<h1>We hope you had an amazing Journey!</h1>

<p>If you can donate to Journey to the End of the Night, please do so. Requested donations are $5-$10, and $20 is pretty normal. We work hard to keep this game open to everyone, but we have to buy a lot of supplies to make it happen and to make the checkpoints great. If you had a great night, or even just thought it was better than a movie, please donate.</p>

<%= render 'donate_form' %>
