<h1>We hope you had an amazing Journey!</h1>

<p>If you can donate to Journey to the End of the Night, please do so. Requested donations are $5-$10, and $20 is pretty normal. We work hard to keep this game open to everyone, but we have to buy a lot of supplies to make it happen (we've spent over $2000 this year). If you had a great night, or even just thought it was worth more than a movie ticket to you (especially an IMAX 3D ticket), please donate.</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="PLPRN2ZS8RRJ6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
