// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* make required look required */
.required {
    color:red;
}

label.small {
    font-size:small;
}

tr td {text-align:left;width:3em;}