// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* make required look required */
label.required {
    color:red;
}
label.required:after {
    content: " (required)";
}

label.small {
    font-size:small;
    font-style:italic;
}
